body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
} 

/*--------END-BODY--------*/

/*--------NAV--------*/

.About-contact {
    background-color: black;
    display: flex;
    justify-content: center;
    transition: color 0.3s;
    font-size: 20px;
}

.About-contact a {
    text-decoration: none;
    transition: color 0.3s;
    color: white;
    padding-right: 10px;
}

.About-contact a:visited {
    color: white;
}

.About-contact a:hover {
    color: #41444b;
}

/*--------END-NAV--------*/

/*--------footie--------*/

.footie-contact {
    background-color: black;
    display: flex;
    justify-content: center;
    transition: color 0.3s;
    font-size: 20px;
}

.footie-contact a {
    text-decoration: none;
    transition: color 0.3s;
    color: white;
    padding-right: 10px;
}

.footie-contact a:visited {
    color: white;
}

.footie-contact a:hover {
    color: #41444b;
}

/*--------END-footie--------*/

/*--------CONTACT-CONTAINER--------*/

.contact-container {
    background-color: #232323;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5rem 0 3rem 0;
}

.contact-container .main-title {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.contact-container .contact-info {
    font-size: 20px;
}

.contact-container .contact-form .input-control input, .contact-container .contact-form .input-control textarea {
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    background-color: #41444b;
    width: 50%;
    color: white;
    resize: none;
    margin: 1%;
}

.contact-container .contact-form .submit-btn {
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    text-shadow: none;
    border: none;
    background: #41444b;
    width: 25%;
    color: white;
    resize: none;
    margin: 1% 0 0 35%;
    transition: color 0.3s;
}

.contact-container .contact-form .submit-btn:hover {
    background-color: black;
}

/*--------END-CONTACT-CONTAINER--------*/

/*--------HORIZONTAL-RULE--------*/

.horizontal-rule-contact {
    border: 1px solid black;
    margin: 40px 250px;
}

/*--------END-HORIZONTAL-RULE--------*/