/*---------------BODY---------------------*/
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}
/*---------------END-BODY--------------------*/

/*---------------NAVBAR---------------------*/
.navbar { 
    display: flex;
    background-color: rgb(0, 0, 0, 0.0);
    justify-content: space-between;  
    align-items: center;  
    padding: 15px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

.barContainer {
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 6px) rotate(-45deg);
}
  
.change .bar2 {
    transform: translate(0, -6px) rotate(45deg);
}

#navbarLogo {
    max-height: 100%;
    height: 30px;
    margin: 0 0 0 4.5%;
}

.navbar .contact {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.5% 1%;
    margin: 0 2% 0 0;
    border-radius: 25px;
    font-size: 15px;
}

.navbar a:visited{
    color: black;
}

.navbar a:hover{
    color: white;
    background-color: black;
}
/*--------------END-NAVBAR----------------------*/

/*-----------------FOOTER-------------------*/
footer {
    background-color: #020202;
    display: flex;
    justify-content: center;
    transition: color 0.3s;
    border-top: #41444b solid 2px;
}

footer a {
    text-decoration: none;
    transition: color 0.3s;
    color: white;
    padding-right: 10px;
}

footer a:visited{
    color: white;
}

footer a:hover{
    color: #41444b
}
/*-------------END-FOOTER----------------------*/

/*----------------SPLASH--------------------*/
.splash {
    margin-top: 50px;
    color: white;
    text-align: center;
    position: relative;
}


.splash .welcometext {
    color: #757575;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-font-smoothing: antialised;
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.splash .quote {
    font-size: 15px;
    color: #757575;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.splash img {
    max-width: 100%;
}


/*-----------ENDSPLASH--------------*/

/* ------------- ARTICLES ---------------*/

#articles {
    background-color: rgb(38, 35, 34);
    padding: 100px;
  }
  
  .article__container{
      position: relative;
      width:1000px;
      height:600px;
      padding:50px;
      background-color: #f5f5f5;
      margin: 0 auto;
  }
  
  #article__slide{
      width:max-content;
      margin-top:50px;
  }
  .article__item{
      width:200px;
      height:300px;
      background-position: 50% 50%;
      display: inline-block;
      transition: 0.5s;
      background-size: cover;
      position: absolute;
      z-index: 1;
      top:50%;
      transform: translate(0,-50%);
      border-radius: 20px;
      box-shadow:  0 30px 50px #505050;
  }

  /*
  #item1 {
    background-image: url(/OmniWEBSITE1.0/images/1.jpeg);
    object-fit: cover;
  }
*/

  .article__item:nth-child(1),
  .article__item:nth-child(2) {
      left:0;
      top:0;
      transform: translate(0,0);
      border-radius: 0;
      width:100%;
      height:100%;
      box-shadow: none;
  }

  .article__item:nth-child(3) {
      left:50%;
  }

  .article__item:nth-child(4) {
      left:calc(50% + 220px);
  }

  .article__item:nth-child(5) {
      left:calc(50% + 440px);
  }

  .article__item:nth-child(n+6) {
      left:calc(50% + 660px);
      opacity: 0;
  }

  .article__item .content {
      position: absolute;
      top:50%;
      left:100px;
      width:300px;
      text-align: left;
      padding:0;
      color:#eee;
      transform: translate(0,-50%);
      display: none;
      font-family: system-ui;
  }

  .article__item:nth-child(2) .content {
      display: block;
      z-index: 11111;
  }

  .article__item .name { 
      font-size: 40px;
      font-weight: bold;
      opacity: 0;
      animation:showcontent 1s ease-in-out 1 forwards
  }

  .article__item .des  {
      margin:20px 0;
      opacity: 0;
      animation:showcontent 1s ease-in-out 0.3s 1 forwards
  }

  .article__item button {
      padding:10px 20px;
      border:none;
      opacity: 0;
      animation:showcontent 1s ease-in-out 0.6s 1 forwards;
      color: white;
      border-radius: 10%;
      transition: 0.5s;
  }
  
  .article__item button:hover {
  background-color: #bac383;
  }
  
  @keyframes showcontent{
      from{
          opacity: 0;
          transform: translate(0,100px);
          filter:blur(33px);
      }to{
          opacity: 1;
          transform: translate(0,0);
          filter:blur(0);
      }
  }
 .article__buttons{
      position: absolute;
      bottom:30px;
      z-index: 222222;
      text-align: center;
      width:100%;
  }
  .article__buttons button{
      width:50px;
      height:50px;
      border-radius: 50%;
      border:1px solid #555;
      transition: 0.5s;
  }

  .article__buttons button:hover{
      background-color: #bac383;
  }
  
  .content::before {
    content: '';
    position: absolute;
    top: -12%;
    right: -7%;
    width: 120%;
    height: 120%;
    background: rgba(146, 144, 144, 0.9); /* Adjust the color and opacity as needed */
    z-index: -1;
    border: white solid 2px;
    padding: 0px;
    border-radius: 25px;
}

/*-----------END ARTICLES--------------*/


/*----------EXPERIENCE----------------*/


.about-services {
    --section-padding: clamp(5em, 21vh, 12em);
    padding-top: calc(var(--section-padding) * .75);
    background: #232323;
    padding-bottom: 10%;
 }

 .about-services .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    margin: 0 5% 0 5%;
 }
 
 .about-services .experienceHeader {
    margin-left: 5%;
    font-size: xx-large;
 }

.about-services .tooltip {
    font-size: larger;
    font-weight: bold;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #757575;
}

.about-services .tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 30px;
    border: white 5px solid;
    font-size: large;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -20%;
    margin-left: -60px;
    transition: opacity 0.3s ease-in-out;
}

.about-services .tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

 /*
 .about-services .row:nth-child(1) {
    padding-bottom: calc(var(--section-padding) / 2);
 }
 
 .about-services .row:nth-child(2) {
    width: calc(100% + calc(var(--container-padding) / 1.5));
    margin-left: calc(var(--container-padding) / -1.5);
 }
 
 .about-services .row:nth-child(2) .flex-col {
    width: 33.333%;
    padding-left: calc(var(--container-padding) / 1.5);
 }
 
 .about-services .row:nth-child(2) .flex-col h5:nth-child(1) {
    padding-bottom: 2em;
 }
 
 .about-services .row:nth-child(2) .flex-col h5 {
    margin: 0;
    font-size: .8em;
 }
 
 .about-services .row:nth-child(2) .flex-col h4 {
    margin: 0;
 }
 
 .about-services .row:nth-child(2) .flex-col .stripe {
    margin-bottom: 2em;
 }
 
 .about-services .row:nth-child(2) .flex-col svg {
    width: 1em;
    padding: 0;
    margin-right: .25em;
    transform: translate(0, -.05em);
 }
 
 .about-services .row:nth-child(2) .flex-col svg path {
    fill: var(--color-dark);
 }
 
 .about-services .row:nth-child(2) .flex-col p:nth-child(4) {
    padding-top: 2em;
 }
 */
 
 .animate-dot {
    opacity: 0;
    animation: animateDot1 2s linear infinite;
 }
 
 .animate-dot:nth-child(2) {
    animation: animateDot2 2s linear infinite;
 }
 
 .animate-dot:nth-child(3) {
    animation: animateDot3 2s linear infinite;
 }
 
 @keyframes animateDot1 {
    0%   {opacity: 0; }
    20%  {opacity: 0;}
    30%  {opacity: 1;}
    90% {opacity: 1;}
 }
 
 @keyframes animateDot2 {
    0%   {opacity: 0; }
    35%  {opacity: 0;}
    45%  {opacity: 1;}
    90% {opacity: 1;}
 }
 
 @keyframes animateDot3 {
    0%   {opacity: 0; }
    50%  {opacity: 0;}
    60%  {opacity: 1;}
    90% {opacity: 1;}
 }
 
 /*
 @media screen and (max-width: 720px) {
    
    .about-services {
       padding-top: calc(var(--section-padding) * 1);
    }
 
    .about-services .row:nth-child(2) {
       width: 100%;
       margin-left: 0;
    }
 
    .about-services .row:nth-child(2) .flex-col h5:nth-child(1) {
       display: none;
    }
    
    .about-services .row:nth-child(2) .flex-col {
       width: 100%;
       padding-left: 0;
       padding-bottom: calc(var(--section-padding) * .5);
    }
 
    .about-services .row:nth-child(2) .flex-col:last-child {
       padding-bottom: 0;
    }
 
    .about-services .row:nth-child(2) .flex-col .stripe {
       margin-bottom: calc(var(--section-padding) * .5);
    }
    
    .about-services .row:nth-child(2) .flex-col p:nth-child(4) {
       padding-top: calc(var(--gap-padding) * .5);
    }
 }
 */

 .stripe {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #757575;
}

/*----------EXPERIENCE----------------*/

/*-----------LANGUAGES--------------*/

.Languages {
    background-color: #232323;
}

.Languages h1 {
    font-size: xx-large;
    margin: 0;
}

.language-progress {
    color: white;
    margin: 0 100px;
    padding-bottom: 15%;
}

.Languages .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.Languages .progress-bars .progress-bar {
    display: flex;
    flex-direction: column;
}

.Languages .progress-bars .progress-bar .prog-title{
    text-transform: uppercase;
    font-weight: 500;
}

.Languages .progress-bars .progress-bar .progress-con{
    display: flex;
    align-items: center;
}

.Languages .progress-bars .progress-bar .progress-con .prog-text{
    color: greenyellow;
}

.Languages .progress-bars .progress-bar .progress-con .progress{
    width: 100%;
    height: 0.45rem;
    background-color: black;
    margin-left: 1rem;
    position: relative;
}

.Languages .progress-bars .progress-bar .progress-con .progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: greenyellow;
    transition: all 0.4s ease-in-out;
    width: 0%;
}

.Languages .progress-bars .progress-bar .progress-con .progress .java {
    width: 65%;
}

.Languages .progress-bars .progress-bar .progress-con .progress .c {
    width: 35%;
}

.Languages .progress-bars .progress-bar .progress-con .progress .html {
    width: 75%;
}

.Languages .progress-bars .progress-bar .progress-con .progress .css {
    width: 40%;
}

.Languages .progress-bars .progress-bar .progress-con .progress .js {
    width: 30%;
}

.Languages .progress-bars .progress-bar .progress-con .progress .react {
    width: 20%;
}

/*-----------END-LANGUAGES---------*/

/*-----------ABOUT--------------*/
.aboutsection .about{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 5% 5% 5% 5%;
    text-align: left;
    justify-content: space-between;
}

.aboutsection .abouttext {
    margin-left: 100px;
}

.aboutsection .about .aboutme {
    color: #757575;
    font-size: 85px;
    padding: 0 0 2% 0;
    margin-bottom: 5%;
    width: 150%;
}

.aboutsection .about .aboutpara {
    max-width: 750px;
    border: solid #757575 3px;
    font-size: 20px;
    padding: 3%;
    width: 150%;
}

.aboutsection .about .selfimage {
    border: 5px #757575 solid;
    width: 100%;
    height: 100%;
    align-items: left;
    object-fit: cover;
}

.aboutsection .socialLinks {
    display: grid;
    width: 20%;
    justify-self: flex-end;
}

.git, .linkedIn, .desktop {
    padding: 30px;
    font-size: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .git:hover, .linkedIn:hover, .desktop:hover {
    opacity: 0.7;
    
  }


/*----------------END-ABOUT-------------------*/



/*--------CONACT SECTION STYLES--------*/

.About-contact {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    transition: color 0.3s;
    font-size: 20px;
}

.About-contact a {
    text-decoration: none;
    transition: color 0.3s;
    color: white;
    padding-right: 10px;
}

.About-contact a:visited {
    color: white;
}

.About-contact a:hover {
    color: #41444b;
}

/*--------END-NAV--------*/

/*--------footie--------*/

.footie-contact {
    background-color: black;
    margin: 0 50px 0 0;
    
    transition: color 0.3s;
    font-size: 20px;
}

.footie-contact a {
    text-decoration: none;
    transition: color 0.3s;
    color: white;
    padding-right: 10px;
}

.footie-contact a:visited {
    color: white;
}
 
.footie-contact a:hover {
    color: #41444b;
}

/*--------END-footie--------*/

/*--------CONTACT-CONTAINER--------*/

.contact-container {
    background-color: #232323;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5rem 0 3rem 0;
}

.contact-container .main-title {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.contact-container .contact-info {
    font-size: 20px;
}

.contact-container .contact-form .input-control input, .contact-container .contact-form .input-control textarea {
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    background-color: #41444b;
    width: 50%;
    color: white;
    resize: none;
    margin: 1%;
}

button[type="submit"] {
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    text-shadow: none;
    border: none;
    background: #41444b;
    width: 25%;
    color: white;
    resize: none;
    margin: 1% 0 0 0%;
    transition: color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }

/*--------END-CONTACT-CONTAINER--------*/

/*--------HORIZONTAL-RULE--------*/

.horizontal-rule-contact {
    border: 1px solid black;
    margin: 40px 250px;
}

/*--------END-HORIZONTAL-RULE--------*/